In [ ]:
restaurant_menus = [
    {"restaurant": "Italian Place", "menu": {"ðŸ•": 12.99, "ðŸ": 10.99, "ðŸ¥–": 3.99, "ðŸ¥—": 7.99}},
    {"restaurant": "Burger Joint", "menu": {"ðŸ”": 8.99, "ðŸŸ": 3.99, "ðŸ¥¤": 1.99, "ðŸ¦": 4.99}},
    {"restaurant": "Sushi Bar", "menu": {"ðŸ£": 15.99, "ðŸœ": 12.99, "ðŸ™": 6.99, "ðŸ¶": 9.99}},
    {"restaurant": "Health Spot", "menu": {"ðŸ¥—": 9.99, "ðŸ¥™": 8.99, "ðŸ¥‘": 4.99, "ðŸ¥": 3.99}},
]

def get_affordable_items(restaurant_menus):
    pass
get_affordable_items(restaurant_menus)

In [8]:


employees = [
    {"id": 101, "name": "Alice", "age": 30},
    {"id": 102, "name": "Bob", "age": 25},
    {"id": 103, "name": "Charlie", "age": 35}
]

In [ ]:
def emp (employees):
 list={}
 for employee in employees:
     if employee["age"]>28:
      list[employee["id"]] = employee["age"]
 print(list)   
emp(employees)

{101: 30, 103: 35}

In [9]:
def emp(employees):
    return {
        employee["id"]: employee["age"]
        for employee in employees
        if employee["age"] > 28
    }
print(emp(employees))

{101: 30, 103: 35}


Task 1.2: Filtering Fruits by Price
Given a dictionary of fruits with their prices, filter it to include only fruits priced above 2.

Expected Output:

{'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}

In [ ]:
fruits = {"apple": 1.2, "banana": 2.5, "orange": 3.0, "kiwi": 4.0}


def list(fruits):
    iteam = {}
    for key, value in fruits.items():
        if value > 2:
            iteam[key] = value
    return iteam


list(fruits)

{'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}

In [25]:
salary =1200000

print(f"Salary: {salary:,} INR")

Salary: 1,200,000 INR